<div class="col-lg-4 col-sm-3">
  <h4>
    <strong>{{author}}</strong>
  </h4>
  <p>{{date}}</p>
  <a {{action 'openModal'}}>
    <img src="{{link}}" alt="Image" height="200" width="200">
  </a>
  {{#if showModal}}

    <!-- Require {{author}} , {{date}}, {{link}}, {{tags}} -->

    {{modal-component author=author date=date link=link tags=tags}}

  {{/if}}
</div>
